pandas
statsmodels
plotly
matplotlib
scikit-learn==0.24.2
mlxtend
xgboost
seaborn
streamlit_option_menu
numpy
openpyxl
streamlit
tabulate
torch==2.0.0
torchvision
Pillow
torchviz
PyPDF2==1.26.0
